In [1]:
## Loading the dataset
all_txns=[]
#open the file
with open('Faceplate.csv') as f:
    #read each line 
    content=f.readlines()
    #remove whitespaces from the beginning and end of the line
    txns=[x.strip() for x in content]
    # iterate through each line and create a list of transactions
    for each_txn in txns:
        #each transaction will contain list of item in transaction
        all_txns.append(each_txn.split(','))

In [2]:
all_txns[0:5]

[['Transaction', 'Red', 'White', 'Blue', 'Orange', 'Green', 'Yellow'],
 ['1', '1', '1', '0', '0', '1', '0'],
 ['2', '0', '1', '0', '1', '0', '0'],
 ['3', '0', '1', '1', '0', '0', '0'],
 ['4', '1', '1', '0', '1', '0', '0']]

In [3]:
# import all required libraries
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
#initialize OnehotTransactions
one_hot_encoding=TransactionEncoder()
# Transform the data into one-hot-encoding format
one_hot_txns= one_hot_encoding.fit(all_txns).transform(all_txns)
# Convert the matrix into the dataframe
one_hot_txns_df=pd.DataFrame(one_hot_txns,columns=one_hot_encoding.columns_)

In [4]:
one_hot_txns_df.iloc[5:10, 10:20]

       9   Blue  Green  Orange    Red  Transaction  White  Yellow
5  False  False  False   False  False        False  False   False
6  False  False  False   False  False        False  False   False
7  False  False  False   False  False        False  False   False
8  False  False  False   False  False        False  False   False
9   True  False  False   False  False        False  False   False

In [5]:
one_hot_txns_df.shape

(11, 18)

In [6]:
len(one_hot_txns_df.columns)

18

In [7]:
frequent_itemsets=apriori(one_hot_txns_df, min_support=0.02,use_colnames=True)

In [8]:
frequent_itemsets.sample(10, random_state=90)

      support                             itemsets
16   0.090909                              (White)
21   0.090909                               (0, 3)
93   0.090909                 (Red, White, Orange)
86   0.090909            (Green, Red, Transaction)
117  0.090909        (Blue, White, Orange, Yellow)
6    0.090909                                  (5)
39   0.090909                          (Blue, Red)
15   0.090909                        (Transaction)
154  0.090909  (Green, Orange, Yellow, White, Red)
79   0.090909           (Blue, White, Transaction)

In [9]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.5)

In [10]:
rules.sample(5)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
351,"(Blue, Red)","(Green, Orange)",0.090909,0.090909,0.090909,1.0,11.0,0.082645,inf
23,(1),(2),0.909091,0.090909,0.090909,0.1,1.1,0.008264,1.010101
1053,"(Green, Red, Transaction)","(Blue, Yellow)",0.090909,0.090909,0.090909,1.0,11.0,0.082645,inf
1290,"(Green, Red, Orange)","(White, Transaction)",0.090909,0.090909,0.090909,1.0,11.0,0.082645,inf
1890,"(White, Transaction)","(Green, Red, Orange, Yellow)",0.090909,0.090909,0.090909,1.0,11.0,0.082645,inf

In [11]:
rules.sort_values("confidence",ascending=False)[0:10]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(0),(1),0.909091,0.909091,0.909091,1.0,1.1,0.082645,inf
1344,"(Green, White, Orange, Yellow)",(Red),0.090909,0.090909,0.090909,1.0,11.0,0.082645,inf
1357,"(Red, White, Orange)","(Green, Yellow)",0.090909,0.090909,0.090909,1.0,11.0,0.082645,inf
1356,"(Red, Orange, Yellow)","(Green, White)",0.090909,0.090909,0.090909,1.0,11.0,0.082645,inf
1355,"(White, Orange, Yellow)","(Green, Red)",0.090909,0.090909,0.090909,1.0,11.0,0.082645,inf
1354,"(Green, White, Red)","(Orange, Yellow)",0.090909,0.090909,0.090909,1.0,11.0,0.082645,inf
1353,"(Green, Red, Yellow)","(White, Orange)",0.090909,0.090909,0.090909,1.0,11.0,0.082645,inf
1352,"(Green, White, Yellow)","(Red, Orange)",0.090909,0.090909,0.090909,1.0,11.0,0.082645,inf
1351,"(Green, Red, Orange)","(White, Yellow)",0.090909,0.090909,0.090909,1.0,11.0,0.082645,inf
1350,"(Green, White, Orange)","(Red, Yellow)",0.090909,0.090909,0.090909,1.0,11.0,0.082645,inf